
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeEditForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <label for="firstName">First Name:</label>
                    <!--<span id="firstName" class="form-control">{{employee.firstName}}</span>-->
                    <input id="firstName" class="form-control" name="employeeFirstName" ng-model="employee.firstName"
                           placeholder="First Name">
                    <div class="form-group" >
                        <!--TODO#HR2-->

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <label for="lastName">Last Name:</label>
                    <!--<span id="lastName" class="form-control">{{employee.lastName}}</span>-->
                    <input id="lastName" class="form-control" name="employeeLastName" ng-model="employee.lastName"
                           placeholder="Last Name">
                    <div class="form-group">
                        <!--TODO#HR2-->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <label for="email">E-mail :</label>
                    <!--<span id="email" class="form-control">{{employee.email}}</span>-->
                    <input id="email" class="form-control" name="employeeEmail" ng-model="employee.email"
                           placeholder="E-mail">
                    <div class="form-group">
                        <!--TODO#HR2-->

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <label for="phoneNumber">Phone Number :</label>
                    <!--<span id="phoneNumber" class="form-control">{{employee.phoneNumber}}</span>-->
                    <input id="phoneNumber" class="form-control" name="employeePhoneNumber" ng-model="employee.phoneNumber"
                           placeholder="Phone Number">
                    <div class="form-group">
                        <!--TODO#HR2-->

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <label for="salary">Salary :</label>
                    <!--<span id="phoneNumber" class="form-control">{{employee.phoneNumber}}</span>-->
                    <input id="salary" class="form-control" name="employeeSalary" ng-model="employee.salary"
                           placeholder="Salary">
                    <div class="form-group">
                        <!--TODO#HR2-->

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeEditForm.hireDate.$invalid && employeeEditForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>
                        <span class="help-block" ng-show="employeeEditForm.hireDate.$error.required
                             && employeeEditForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeeditForm.hireDate.$error.pattern
                             && employeeEditForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeEditForm.job.$invalid }" required>
                        <label for="job">Job:</label>
                        <select id="job" ng-model="employee.jobId" name="job" class="form-control" required
                                ng-options="job.jobTitle for job in jobs track by job.jobId">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error':
                    employeeEditForm.commissionPct.$invalid && employeeEditForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                        <span class="help-block" ng-show="employeeEditForm.commissionPct.$error.required
                             && employeeEditForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeEditForm.commissionPct.$error.pattern
                             && employeeEditForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeEditForm.department.$invalid }" required>
                        <label for="department">Department:</label>
                        <select id="department" ng-model="employee.departmentId" name="department" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentId">
                        </select>
                        <!--TODO#HR2-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeEditForm.manager.$invalid }" required>
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">reset</a>
                    <a class="btn btn-primary btn-lg" ng-disabled="employeeEditForm.$invalid" role="button" ng-click="create(employee)">save</a>
                </div>
                <div class="col-md-7">
                    <div class="container">
                        <!--TODO#HR4-->
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>